.category {
  max-width: 114rem;
  margin: auto;

  &--full {
    min-height: calc(100vh - 28.6rem);
    padding-top: 12rem;
  }

  &__list {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    padding-top: 2.3rem;

    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    width: calc(100% / 3 - 4rem);
    margin: 0 2rem 4rem 2rem;
  }
}