<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <!-- DISPLAY NAME -->
  <display-name>Archetype Created Web Application</display-name>

  <!-- SERVLETS -->
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.wiki.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SingleServlet</servlet-name>
    <servlet-class>com.wiki.controllers.SingleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleServlet</servlet-name>
    <url-pattern>/articles/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.wiki.controllers.AuthController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
</web-app>