.article-secondary-card {
  padding: 1.2rem;

  border: 0.1rem solid #000;
  border-radius: 1.2rem;

  &__category {
    color: #000;
    font-weight: 400;


    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    margin-bottom: 0.8rem;

    display: -webkit-box;
    overflow: hidden;

    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__figure {
    height: 3.2rem;
    margin-bottom: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #999faa;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  &__figure-view {
    display: flex;
    align-items: center;

    & > svg {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 1.2rem;
    }
  }

  &__thumbnail {
    position: relative;

    width: 100%;
    height: 0;
    padding-top: 55%;

    overflow: hidden;

    border-radius: 1.2rem;

    & > img {
      position: absolute;
      top: 0;
      left: 0;

      object-fit: cover;
    }
  }
}